body {
  background-image: url("https://www.power-technology.com/wp-content/uploads/sites/7/2018/12/Neutrino-2-Cell.jpg");
  background-position-x: center;
}

.login {
  position: absolute;
  top: 20%;
  border: 1px solid;
  border-radius: 3px 14px 100px;
  box-shadow: 10px 20px rgb(31, 33, 36);
}

div > label {
  font-size: large;
}

.my-card-body {
  padding: 5px;
}

.my-card {
  display: flex;
  justify-content: center;
}

.my-row {
  margin-left: 0px;
  margin-right: 0px;
}

.card-body > h6 {
  margin-bottom: 0px;
  text-align: center;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body-button {
  padding-top: 5px;
  padding-bottom: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#loginPage {
  background-color: blue;
}